<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.io.yy.marketing.mapper.CsMembercardOrderMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, membercard_id, membercard_name, wxuser_id, wxuser_phone, openid, order_name, order_date, valid_period, start_time, end_time, order_price, out_trade_no, payment_status, payment_msg, payment_type, source_type, status, deleted, version, create_by, create_time, update_by, update_time, corp_code, corp_name
    </sql>

    <select id="getCsMembercardOrderById" resultType="com.io.yy.marketing.vo.CsMembercardOrderQueryVo">
        select
        <include refid="Base_Column_List"/>
        from cs_membercard_order where id = #{id}
    </select>

    <select id="isExistCsMembercardOrderByUserId" resultType="com.io.yy.marketing.vo.CsMembercardOrderQueryVo">
        SELECT cmo.*,cm.*
        FROM cs_membercard_order cmo
        LEFT JOIN cs_member_card cm ON cmo.`membercard_id`=cm.id
        where 1=1
        and cmo.wxuser_id = #{param.wxuserId}
        <if test="param.membercardId != null and param.membercardId !=0">
        and cmo.membercard_id = #{param.membercardId}
        </if>
        AND CURTIME() <![CDATA[ >= ]]> cmo.start_time
        AND CURTIME() <![CDATA[ <= ]]> cmo.end_time
        ANd cmo.payment_status = 2
    </select>

    <select id="getCsMembercardOrderPageList" resultType="com.io.yy.marketing.vo.CsMembercardOrderQueryVo">
        SELECT cmo.*, wu.nickname AS wxuserName, cmc.level,cmc.discount_off
        FROM cs_membercard_order cmo
        LEFT JOIN wx_user  wu  ON cmo.`wxuser_id`=wu.id
        LEFT JOIN cs_member_card cmc ON cmo.`membercard_id`=cmc.`id`
    </select>

    <update id="updateStatus">
        update cs_membercard_order set status = #{param.status}
        where deleted = 0
        <if test="param.id != null">
            and id = #{param.id}
        </if>
    </update>

    <update id="updatePaymentStatus">
        update cs_membercard_order set payment_status = #{param.paymentStatus}
        <if test="param.paymentMsg != null and param.paymentMsg.trim() != ''">
            ,payment_msg = #{param.paymentMsg}
        </if>
        where deleted = 0
        and out_trade_no = #{param.outTradeNo}
        and payment_status != #{param.paymentStatus}
    </update>

</mapper>
