<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.io.yy.wxops.mapper.WxUserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, nickname, password, salt, email, phone_number,gender, avatar_url, signtext, openid, unionid, menber_type, integral, balance, remarks, status, deleted, version, create_by, create_time, update_by, update_time, corp_code, corp_name
    </sql>

    <select id="getWxUserById" resultType="com.io.yy.wxops.vo.WxUserQueryVo">
        select
        <include refid="Base_Column_List"/>
        from wx_user where id = #{id}
    </select>

    <select id="getWxUserPageList" resultType="com.io.yy.wxops.vo.WxUserQueryVo">
        select
        <include refid="Base_Column_List"/>
        from wx_user
        where 1=1
        <if test="param.nickname != null and param.nickname.trim() != ''">
            and u.nickname like concat('%', #{param.nickname}, '%')
        </if>
        <if test="param.phoneNumber != null and param.phoneNumber.trim() != ''">
            and u.phone_number like concat('%', #{param.phoneNumber}, '%')
        </if>
        <if test="param.nameAphone != null and param.nameAphone.trim() != ''">
            and (nickname like concat('%', #{param.phone}, '%') or phone like concat('%', #{param.phone}, '%'))
        </if>
    </select>

    <update id="updateStatus">
        update wx_user set status = #{param.status}
        where deleted = 0
        <if test="param.id != null">
            and id = #{param.id}
        </if>
    </update>

    <select id="getWxUserByOpenId" resultType="com.io.yy.wxops.entity.WxUser">
        select
        <include refid="Base_Column_List"/>
        from wx_user where deleted = 0
        and openid = #{openId}
    </select>

    <resultMap id="wxUserObj" type="com.io.yy.wxops.vo.WxUserQueryVo">
        <result column="id" property="id" javaType="java.lang.Long"/>
        <result column="nickname" property="nickname" javaType="java.lang.String"/>
        <result column="phone_number" property="phoneNumber" javaType="java.lang.String"/>
        <result column="gender" property="gender" javaType="java.lang.Integer"/>
        <result column="avatar_url" property="avatarUrl" javaType="java.lang.String"/>
        <result column="signtext" property="signtext" javaType="java.lang.String"/>
        <result column="openid" property="openid" javaType="java.lang.String"/>
        <result column="unionid" property="unionid" javaType="java.lang.String"/>
        <result column="integral" property="integral" javaType="java.lang.String"/>
        <result column="balance" property="balance" javaType="java.lang.Double"/>
        <association property="csMembercardOrderQueryVo" javaType="com.io.yy.marketing.vo.CsMembercardOrderQueryVo">
            <result column="m_id" property="id" javaType="java.lang.Long"/>
            <result column="membercard_id" property="membercardId" javaType="java.lang.String"/>
            <result column="membercard_name" property="membercardName" javaType="java.lang.String"/>
            <result column="valid_period" property="validPeriod" javaType="java.lang.Integer"/>
            <result column="order_date" property="orderDate" javaType="java.util.Date"/>
            <result column="m_start_time" property="startTime" javaType="java.util.Date"/>
            <result column="m_end_time" property="endTime" javaType="java.util.Date"/>
            <result column="order_price" property="orderPrice" javaType="java.lang.Double"/>
        </association>
        <collection property="csCouponReleasedQueryVoList" javaType="com.io.yy.marketing.vo.CsCouponReleasedQueryVo">
            <id column="c_id" property="id" javaType="java.lang.Long" />
            <result column="coupon_id" property="couponId" javaType="java.lang.Long"/>
            <result column="wxuser_id" property="wxuserId" javaType="java.lang.Long"/>
            <result column="released_time" property="releasedTime" javaType="java.util.Date"/>
            <result column="is_used" property="isUsed" javaType="java.lang.Integer"/>
            <result column="used_time" property="usedTime" javaType="java.util.Date"/>
            <result column="c_start_time" property="startTime" javaType="java.util.Date"/>
            <result column="c_end_time" property="endTime" javaType="java.util.Date"/>
        </collection>
    </resultMap>

    <select id="getWxUserObjByOpenid" resultMap="wxUserObj">
        select wu.*,cmo.id as m_id,cmo.membercard_id,cmo.membercard_name,cmo.valid_period,cmo.order_date,cmo.start_time as m_start_time,
        cmo.end_time as m_end_time,cmo.order_price,ccr.id as c_id,ccr.coupon_id,ccr.wxuser_id,ccr.released_time,ccr.is_used,
        ccr.used_time,cc.start_time as c_start_time, cc.end_time as c_end_time
        from wx_user wu
        left join cs_coupon_released ccr on ccr.wxuser_id = wu.id and is_used = 0
        left join cs_coupon cc on ccr.coupon_id = cc.id and CURDATE() <![CDATA[ >= ]]> Date(cc.start_time) and CURDATE() <![CDATA[ <= ]]> cc.end_time
        left join cs_membercard_order cmo on cmo.wxuser_id = wu.id and CURTIME() <![CDATA[ >= ]]> cmo.start_time and CURTIME() <![CDATA[ <= ]]> cmo.end_time
        where wu.openid =  #{openId}
    </select>
</mapper>
