<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.io.yy.wxops.mapper.WxUserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, nickname, password, salt, email, phone, gender, avatar_url, signtext, openid, unionid, menber_type, integral, balance, remarks, status, deleted, version, create_by, create_time, update_by, update_time, corp_code, corp_name
    </sql>

    <select id="getWxUserById" resultType="com.io.yy.wxops.vo.WxUserQueryVo">
        select
        <include refid="Base_Column_List"/>
        from wx_user where id = #{id}
    </select>

    <select id="getWxUserPageList" resultType="com.io.yy.wxops.vo.WxUserQueryVo">
        select
        <include refid="Base_Column_List"/>
        from wx_user
        <if test="param.nickname != null and param.nickname.trim() != ''">
            and u.nickname like concat('%', #{param.nickname}, '%')
        </if>
        <if test="param.phone != null ">
            and u.phone like concat('%', #{param.phone}, '%')
        </if>
    </select>

    <update id="updateStatus">
        update wx_user set status = #{param.status}
        where deleted = 0
        <if test="param.id != null">
            and id = #{param.id}
        </if>
    </update>

    <select id="getWxUserByOpenId" resultType="com.io.yy.wxops.entity.WxUser">
        select
        <include refid="Base_Column_List"/>
        from wx_user where deleted = 0
        and openid = #{openId}
    </select>
</mapper>
