<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.io.yy.merchant.mapper.CsMerchantMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, merchant_name, merchant_account, merchant_password, order_fee, city_code, city, address, longitude, latitude, logo_url_value,
        logo_url_name, carousel_url_value, carousel_url_name, office_code, contact_phonse, label_id, label_name, facilities_id,
        facilities_name, services_id, services_name, order_refund_fee, merchant_info, usage_notice, start_time, end_time,
        ttl_client_id, ttl_client_secret, ttl_lock_id, ttl_username, ttl_password,kk_client_id, kk_app_secret, kk_project_code,
        kk_redirect_uri, kk_uname, kk_password, status, deleted, version,
        create_by, create_time, update_by, update_time, corp_code, corp_name
    </sql>

    <resultMap id="csTearoomObj" type="com.io.yy.merchant.vo.CsMerchantQueryVo">
        <result column="id" property="id" javaType="java.lang.Long"/>
        <result column="merchant_name" property="merchantName" javaType="java.lang.String"/>
        <result column="order_fee" property="orderFee" javaType="java.lang.Integer"/>
        <result column="city_code" property="cityCode" javaType="java.lang.String"/>
        <result column="city" property="city" javaType="java.lang.String"/>
        <result column="address" property="address" javaType="java.lang.String"/>
        <result column="longitude" property="longitude" javaType="java.lang.String"/>
        <result column="latitude" property="latitude" javaType="java.lang.String"/>
        <result column="logo_url_value" property="logoUrlValue" javaType="java.lang.String"/>
        <result column="logo_url_name" property="logoUrlName" javaType="java.lang.String"/>
        <result column="carousel_url_value" property="carouselUrlValue" javaType="java.lang.String"/>
        <result column="carousel_url_name" property="carouselUrlName" javaType="java.lang.String"/>
        <result column="office_code" property="officeCode" javaType="java.lang.String"/>
        <result column="contact_phonse" property="contactPhonse" javaType="java.lang.String"/>
        <result column="label_id" property="labelId" javaType="java.lang.String"/>
        <result column="label_name" property="labelName" javaType="java.lang.String"/>
        <result column="facilities_id" property="facilitiesId" javaType="java.lang.String"/>
        <result column="facilities_name" property="facilitiesName" javaType="java.lang.String"/>
        <result column="services_id" property="servicesId" javaType="java.lang.String"/>
        <result column="services_name" property="servicesName" javaType="java.lang.String"/>
        <result column="order_refund_fee" property="orderRefundFee" javaType="java.lang.Integer"/>
        <result column="merchant_info" property="merchantInfo" javaType="java.lang.String"/>
        <result column="usage_notice" property="usageNotice" javaType="java.lang.String"/>
        <result column="start_time" property="startTime" javaType="java.lang.String"/>
        <result column="end_time" property="endTime" javaType="java.lang.String"/>
        <result column="status" property="status" javaType="java.lang.String"/>
        <result column="buy_record" property="buyRecord" javaType="java.lang.Integer"/>
        <collection property="tearoomList" ofType="com.io.yy.merchant.vo.CsTearoomQueryVo">
            <id column="t_id" property="id" javaType="java.lang.Long" />
            <result column="room_name" property="roomName" javaType="java.lang.String"/>
            <result column="facilities_id" property="facilitiesId" javaType="java.lang.String"/>
            <result column="facilities_name" property="facilitiesName" javaType="java.lang.String"/>
            <result column="hours_amount" property="hoursAmount" javaType="java.lang.Double"/>
            <result column="t_start_time" property="startTime" javaType="java.lang.String"/>
            <result column="recom_num_users" property="recomNumUsers" javaType="java.lang.String"/>
            <result column="room_logo_url" property="roomLogoUrl" javaType="java.lang.String"/>
            <result column="room_logo_name" property="roomLogoName" javaType="java.lang.String"/>
            <result column="room_banner_url" property="roomBannerUrl" javaType="java.lang.String"/>
            <result column="room_banner_name" property="roomBannerName" javaType="java.lang.String"/>
            <result column="door_open_method" property="doorOpenMethod" javaType="java.lang.Integer"/>
            <result column="t_sort" property="sort" javaType="java.lang.Integer"/>
            <result column="merchant_id" property="merchantId" javaType="java.lang.Long"/>
            <result column="t_status" property="status" javaType="java.lang.String"/>
            <result column="t_create_time" property="createTime" javaType="java.util.Date"/>
        </collection>
    </resultMap>

    <select id="getCsMerchantById" resultType="com.io.yy.merchant.vo.CsMerchantQueryVo">
        select
        <include refid="Base_Column_List"/>
        from cs_merchant where id = #{id}
    </select>

    <select id="getCsMerchantByOfficeCode" resultType="com.io.yy.merchant.vo.CsMerchantQueryVo">
        select
        <include refid="Base_Column_List"/>
        from cs_merchant where office_code = #{officeCode}
    </select>

    <select id="getCsMerchantPageList" resultType="com.io.yy.merchant.vo.CsMerchantQueryVo">
        select
        <include refid="Base_Column_List"/>
        from cs_merchant
        where deleted = 0
        <if test="param.status != null and param.status.trim() != ''">
            and status = #{param.status}
        </if>
        <if test="param.merchantName != null and param.merchantName.trim() != ''">
            and merchant_name like concat('%', #{param.merchantName}, '%')
        </if>
        <if test="param.merchantAccount != null and param.merchantAccount.trim() != ''">
            and merchant_account like concat('%', #{param.merchantAccount}, '%')
        </if>
    </select>

    <update id="updateStatusById">
        update cs_merchant set status = #{param.status} where id = #{param.id}
    </update>

    <select id="getCsMerchantPageListOrderByPriceASC" resultType="com.io.yy.merchant.vo.CsMerchantQueryVo">
        SELECT cm.* FROM cs_merchant cm
        LEFT JOIN cs_tearoom ct ON cm.id=ct.merchant_id
        where 1=1 and status = 1
        <if test="param.cityCode != null and param.cityCode.trim() != ''">
            and cm.city_code = #{param.cityCode}
        </if>
        <if test="param.merchantName != null and param.merchantName.trim() != ''">
            and cm.merchant_name like concat('%', #{param.merchantName}, '%')
        </if>
        GROUP BY cm.id
        ORDER BY ct.hours_amount ASC
    </select>

    <select id="getCsMerchantPageListOrderByPriceDESC" resultType="com.io.yy.merchant.vo.CsMerchantQueryVo">
        SELECT cm.* FROM cs_merchant cm
        LEFT JOIN cs_tearoom ct ON cm.id=ct.merchant_id
        where 1 =1 and status = 1
        <if test="param.cityCode != null and param.cityCode.trim() != ''">
            and cm.city_code = #{param.cityCode}
        </if>
        <if test="param.merchantName != null and param.merchantName.trim() != ''">
            and cm.merchant_name like concat('%', #{param.merchantName}, '%')
        </if>
        GROUP BY cm.id
        ORDER BY ct.hours_amount DESC
    </select>

    <select id="getCsMerchantPageListOrderByNear" resultType="com.io.yy.merchant.vo.CsMerchantQueryVo">
        SELECT cm.* FROM cs_merchant cm
        WHERE 1 = 1 and status = 1
        <if test="param.cityCode != null and param.cityCode.trim() != ''">
            and cm.city_code = #{param.cityCode}
        </if>
        <if test="param.merchantName != null and param.merchantName.trim() != ''">
            and cm.merchant_name like concat('%', #{param.merchantName}, '%')
        </if>
        <if test="param.minlng != null and param.minlng != 0">
            and (longitude BETWEEN ${param.minlng} AND ${param.maxlng})
        </if>
        <if test="param.minlat != null and param.minlat != 0">
            and (latitude BETWEEN ${param.minlat} AND ${param.maxlat})
        </if>
    </select>

    <select id="getCsMerchantPageListOrderByDefault" resultType="com.io.yy.merchant.vo.CsMerchantQueryVo">
        SELECT cm.* FROM cs_merchant cm
        LEFT JOIN cs_tearoom ct ON cm.id=ct.merchant_id
        where 1=1 and status = 1
        <if test="param.cityCode != null and param.cityCode.trim() != ''">
            and cm.city_code = #{param.cityCode}
        </if>
        <if test="param.merchantName != null and param.merchantName.trim() != ''">
            and cm.merchant_name like concat('%', #{param.merchantName}, '%')
        </if>
        <if test="param.minlng != null and param.minlng != 0">
            and (cm.longitude BETWEEN ${param.minlng} AND ${param.maxlng})
        </if>
        <if test="param.minlat != null and param.minlat != 0">
            and (cm.latitude BETWEEN ${param.minlat} AND ${param.maxlat})
        </if>
        GROUP BY cm.id
        ORDER BY ct.sort ASC, ct.hours_amount ASC
    </select>

    <select id="getCsMerchantByIdForWx" resultMap="csTearoomObj">
        SELECT cm.*, ct.id AS t_id,ct.room_name,ct.facilities_id,ct.facilities_name,ct.hours_amount,ct.start_time as t_start_time,ct.recom_num_users,
        ct.room_logo_url,ct.room_logo_name,ct.room_banner_url,ct.room_banner_name,ct.door_open_method,ct.sort AS t_sort,ct.merchant_id,
        ct.status AS t_status,ct.create_time AS t_create_time,(SELECT COUNT(id) FROM cs_merchant_order cmo WHERE cmo.merchant_id = cm.id) AS buy_record
        FROM cs_merchant cm
        LEFT JOIN cs_tearoom ct ON cm.id=ct.merchant_id
        where 1=1 and cm.id =  #{param.id}
        ORDER BY ct.sort ASC, ct.hours_amount ASC
    </select>
</mapper>
