<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.io.yy.merchant.mapper.CsMerchantMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, merchant_name, merchant_account, merchant_password, order_fee, city_code, city, address, longitude, latitude, logo_url_value, logo_url_name, carousel_url_value, carousel_url_name, office_code, contact_phonse, label_id, label_name, facilities_id, facilities_name, services_id, services_name, order_refund_fee, merchant_info, usage_notice, start_time, end_time, status, deleted, version, create_by, create_time, update_by, update_time, corp_code, corp_name
    </sql>

    <select id="getCsMerchantById" resultType="com.io.yy.merchant.vo.CsMerchantQueryVo">
        select
        <include refid="Base_Column_List"/>
        from cs_merchant where id = #{id}
    </select>

    <select id="getCsMerchantByOfficeCode" resultType="com.io.yy.merchant.vo.CsMerchantQueryVo">
        select
        <include refid="Base_Column_List"/>
        from cs_merchant where office_code = #{officeCode}
    </select>

    <select id="getCsMerchantPageList" resultType="com.io.yy.merchant.vo.CsMerchantQueryVo">
        select
        <include refid="Base_Column_List"/>
        from cs_merchant
        where deleted = 0 and status = 1
        <if test="param.merchantName != null and param.merchantName.trim() != ''">
            and merchant_name like concat('%', #{param.merchantName}, '%')
        </if>
        <if test="param.merchantAccount != null and param.merchantAccount.trim() != ''">
            and merchant_account like concat('%', #{param.merchantAccount}, '%')
        </if>
    </select>

    <update id="updateStatusById">
        update cs_merchant set status = #{param.status} where id = #{param.id}
    </update>

    <select id="getCsMerchantPageListOrderByPriceASC" resultType="com.io.yy.merchant.vo.CsMerchantQueryVo">
        SELECT cm.* FROM cs_merchant cm
        LEFT JOIN cs_tearoom ct ON cm.id=ct.merchant_id
        where 1=1
        <if test="param.cityCode != null and param.cityCode.trim() != ''">
            and cm.city_code = #{param.cityCode}
        </if>
        <if test="param.merchantName != null and param.merchantName.trim() != ''">
            and cm.merchant_name like concat('%', #{param.merchantName}, '%')
        </if>
        GROUP BY cm.id
        ORDER BY ct.hours_amount ASC
    </select>

    <select id="getCsMerchantPageListOrderByPriceDESC" resultType="com.io.yy.merchant.vo.CsMerchantQueryVo">
        SELECT cm.* FROM cs_merchant cm
        LEFT JOIN cs_tearoom ct ON cm.id=ct.merchant_id
        where 1 =1
        <if test="param.cityCode != null and param.cityCode.trim() != ''">
            and cm.city_code = #{param.cityCode}
        </if>
        <if test="param.merchantName != null and param.merchantName.trim() != ''">
            and cm.merchant_name like concat('%', #{param.merchantName}, '%')
        </if>
        GROUP BY cm.id
        ORDER BY ct.hours_amount DESC
    </select>

    <select id="getCsMerchantPageListOrderByNear" resultType="com.io.yy.merchant.vo.CsMerchantQueryVo">
        SELECT cm.* FROM cs_merchant cm
        WHERE 1 = 1
        <if test="param.cityCode != null and param.cityCode.trim() != ''">
            where cm.city_code = #{param.cityCode}
        </if>
        <if test="param.merchantName != null and param.merchantName.trim() != ''">
            and cm.merchant_name like concat('%', #{param.merchantName}, '%')
        </if>
        <if test="param.minlng != null and param.minlng != 0">
            and (longitude BETWEEN ${param.minlng} AND ${param.maxlng})
        </if>
        <if test="param.minlat != null and param.minlat != 0">
            and (latitude BETWEEN ${param.minlat} AND ${param.maxlat})
        </if>
    </select>

    <select id="getCsMerchantPageListOrderByDefault" resultType="com.io.yy.merchant.vo.CsMerchantQueryVo">
        SELECT cm.* FROM cs_merchant cm
        LEFT JOIN cs_tearoom ct ON cm.id=ct.merchant_id
        where 1=1
        <if test="param.cityCode != null and param.cityCode.trim() != ''">
            and cm.city_code = #{param.cityCode}
        </if>
        <if test="param.merchantName != null and param.merchantName.trim() != ''">
            and cm.merchant_name like concat('%', #{param.merchantName}, '%')
        </if>
        <if test="param.minlng != null and param.minlng != 0">
            and (cm.longitude BETWEEN ${param.minlng} AND ${param.maxlng})
        </if>
        <if test="param.minlat != null and param.minlat != 0">
            and (cm.latitude BETWEEN ${param.minlat} AND ${param.maxlat})
        </if>
        GROUP BY cm.id
        ORDER BY ct.hours_amount ASC
    </select>
</mapper>
