<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.io.yy.merchant.mapper.CsTearoomMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, room_name, facilities_id, facilities_name, hours_amount, start_time, time_range, recom_num_users, room_logo_url, room_logo_name, room_banner_url, room_banner_name, door_open_method, rttl_lock_id,kk_mac, kk_oc_switch, sort, merchant_id, status, release_status, deleted, version, create_by, create_time, update_by, update_time, corp_code, corp_name
    </sql>

    <resultMap id="csTearoom" type="com.io.yy.merchant.vo.CsTearoomQueryVo">
        <result column="id" property="id" javaType="java.lang.Long"/>
        <result column="room_name" property="roomName" javaType="java.lang.String"/>
        <result column="facilities_id" property="facilitiesId" javaType="java.lang.String"/>
        <result column="facilities_name" property="facilitiesName" javaType="java.lang.String"/>
        <result column="hours_amount" property="hoursAmount" javaType="java.lang.Double"/>
        <result column="start_time" property="startTime" javaType="java.lang.String"/>
        <result column="time_range" property="timeRange" javaType="java.lang.String"/>
        <result column="recom_num_users" property="recomNumUsers" javaType="java.lang.String"/>
        <result column="room_logo_url" property="roomLogoUrl" javaType="java.lang.String"/>
        <result column="room_logo_name" property="roomLogoName" javaType="java.lang.String"/>
        <result column="room_banner_url" property="roomBannerUrl" javaType="java.lang.String"/>
        <result column="room_banner_name" property="roomBannerName" javaType="java.lang.String"/>
        <result column="door_open_method" property="doorOpenMethod" javaType="java.lang.Integer"/>
        <result column="rttl_lock_id" property="rttlLockId" javaType="java.lang.String"/>
        <result column="kk_mac" property="kkMac" javaType="java.lang.String"/>
        <result column="kk_oc_switch" property="kkOcSwitch" javaType="java.lang.String"/>
        <result column="sort" property="sort" javaType="java.lang.Integer"/>
        <result column="merchant_id" property="merchantId" javaType="java.lang.Long"/>
        <result column="status" property="status" javaType="java.lang.String"/>
        <result column="release_status" property="releaseStatus" javaType="java.lang.String"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <association property="merchant" javaType="com.io.yy.merchant.vo.CsMerchantQueryVo">
            <result column="m_id" property="id" javaType="java.lang.Long"/>
            <result column="m_logo_url_value" property="logoUrlValue" javaType="java.lang.String"/>
            <result column="m_logo_url_name" property="logoUrlName" javaType="java.lang.String"/>
        </association>
    </resultMap>

    <select id="getCsTearoomById" resultType="com.io.yy.merchant.vo.CsTearoomQueryVo">
        select ct.* , (SELECT COUNT(id) FROM cs_merchant_order cmo
        WHERE cmo.`tearoom_id`= ct.id) AS buy_record
        from cs_tearoom ct
        where ct.id = #{id}
    </select>

    <select id="getCsTearoomObjPageList" resultMap="csTearoom">
        select
        ct.id, ct.room_name, ct.facilities_id, ct.facilities_name, ct.hours_amount, ct.start_time, ct.time_range, ct.recom_num_users, ct.room_logo_url,
        ct.room_logo_name, ct.room_banner_url, ct.room_banner_name, ct.door_open_method, ct.rttl_lock_id,ct.kk_mac, ct.kk_oc_switch, ct.sort, ct.merchant_id, ct.status, ct.release_status, ct.create_time,
        cm.id as m_id, cm.logo_url_value as m_logo_url_value, cm.logo_url_name as m_logo_url_name
        from cs_tearoom ct
        left join cs_merchant cm on ct.merchant_id = cm.id
        where 1=1
        <if test="param.merchantId != null">
            and cm.id = #{param.merchantId}
        </if>
    </select>

    <select id="getCsTearoomPageList" resultType="com.io.yy.merchant.vo.CsTearoomQueryVo">
        select
        <include refid="Base_Column_List"/>
        from cs_tearoom
        where 1=1
        <if test="param.status != null and param.status.trim() != ''">
            and status = #{param.status}
        </if>
        <if test="param.merchantId != null">
            and merchant_id = #{param.merchantId}
        </if>
    </select>

    <select id="getCsTearoomPageListForWx" resultType="com.io.yy.merchant.vo.CsTearoomQueryVo">
        select ct.* , (SELECT COUNT(id) FROM cs_merchant_order cmo
        WHERE cmo.`tearoom_id`= ct.id) AS buy_record
        from cs_tearoom ct
        where 1=1
        <if test="param.status != null and param.status.trim() != ''">
            and ct.status = #{param.status}
        </if>
        <if test="param.merchantId != null">
            and ct.merchant_id = #{param.merchantId}
        </if>
    </select>

    <update id="updateStatus">
        update cs_tearoom set status = #{param.status}
        where deleted = 0
        <if test="param.id != null">
            and id = #{param.id}
        </if>
    </update>

    <update id="updateReleaseStatus">
        update cs_tearoom set release_status = #{param.releaseStatus}
        where deleted = 0
        <if test="param.id != null">
            and id = #{param.id}
        </if>
    </update>
</mapper>
