<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.io.yy.wxmngt.mapper.CsAdvertiseMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pic_url, pic_name, jump_link, sort, status, deleted, version, create_by, create_time, update_by, update_time, corp_code, corp_name
    </sql>

    <select id="getCsAdvertiseById" resultType="com.io.yy.wxmngt.vo.CsAdvertiseQueryVo">
        select
        <include refid="Base_Column_List"/>
        from cs_advertise where id = #{id}
    </select>

    <select id="getCsAdvertisePageList" resultType="com.io.yy.wxmngt.vo.CsAdvertiseQueryVo">
        select
        <include refid="Base_Column_List"/>
        from cs_advertise
        where deleted = 0
        <if test="param.sort != null">
            and sort = param.sort
        </if>
    </select>

    <update id="updateStatusById">
        update cs_advertise set status = #{param.status} where id = #{param.id}
    </update>

    <select id="getCsAdvertiseForWx" resultType="com.io.yy.wxmngt.vo.CsAdvertiseQueryVo">
        select
        <include refid="Base_Column_List"/>
        from cs_advertise
        WHERE STATUS = 1
        ORDER BY sort
        LIMIT 0,4
    </select>
</mapper>
